<%- include('layouts/header.ejs') %> 

  <div class="container pt-5">
    <h1 class="text-center my-5">List Data Pengguna</h1>

    <table class="table table-bordered table-hover">
      <thead>
        <tr class="text-center table-primary">
          <th scope="col">No</th>
          <th scope="col">Name</th>
          <th scope="col">Age</th>
          <th scope="col">Gender</th>
          <th scope="col">Company</th>
          <th scope="col">Eye Color</th>
          <th scope="col">Favorite Fruit</th>
          <th scope="col">Registered</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <% if (dataOutput.message === 'data tidak ada / tidak ditemukan') { %>
          <tr>
            <td colspan="9">
              <h3 class="text-center text-danger my-5">Maaf, data yang kamu cari tidak ada nih 😀</h3>
            </td>
          </tr>
        <%} else { %>
          <% i = 1 %> 
          <% dataOutput.forEach(data => { %>
            <tr>
              <td class="text-center"><%= i++ %> </td>
              <td><%= data.name %></td>
              <td class="text-center"><%= data.age %></td>
              <td><%= data.gender %></td>
              <td><%= data.company %></td>
              <td><%= data.eyeColor %></td>
              <td><%= data.favoriteFruit %></td>
              <td>
                <% let newDate=new Date(data.registered).toLocaleDateString(); %>
                <%= newDate %>
              </td>
              <td>
                <% if (data.isActive) { %>
                  Active
                <% } else { %>
                  Non Active
                <% } %>
              </td>
            </tr>
          <% }) %>
        <% } %>
      </tbody>
    </table>

    <div class="mt-5">
      <h6>Filter berdasarkan:</h6>
      <p><%= note %></p>
    </div>
  </div>

<%- include('layouts/footer.ejs')  %> 